root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cs,csx}]
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_prefer_primary_constructors = true:suggestion

[*.{json,jsonc,xml,csproj,props,targets,slnx,axaml,xaml}]
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false
